body {
    text-align: center;
}
.board .dateDisplay {
    color: #999;
}
.board .team {
    font-size: 1.2em;
    margin: 1em .25em;
}
.board .team img {
    display: none;
}
.red {
    color: #FF3B30;
}

@media (min-width: 550px) {
    .board .team img {
        display: inline;
        margin: 0 .15em;
        width: 1.5em;
        vertical-align: middle;
    }
}

@media (min-width: 750px) {
    .board .team img {
        width: 2em;
    }
    .board .team {
        font-size: 1.5em;
    }
}

@media (min-width: 1000px) {
    .board .team {
        font-size: 2em;
    }
    .board .team img {
        width: 2.5em;
        margin: 0 .5em;
    }
}
